/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* Thêm màu nền tối cho trang của bạn */
body {
  background-color: #1a1a24;
}
/* Áp dụng font chữ mặc định và màu nền */
body {
  background-image: url("/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Bạn vẫn có thể đặt màu nền dự phòng */
  background-color: #2c2a4a;
}
